body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1E1E1E;
}
header {
    background-color: #363745;
    padding: 15px;
}
.main-tittle{
    color: white;
    text-decoration: none;
    margin-left: 5%;
    font-size: 20;
}
.my-works-header{
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 5%;
    font-size: 20;
}
.contacts{
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 3%;
    font-size: 20;
}
.name {
    color: white;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 60;
}
.fe{
    color: white;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 30;
}
.aboutme {
    text-decoration: none;
    color: white;
    margin-left: 10%;
    background-color: #EB7550;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 10px;
    margin-right: 3%;
    font-size: 25;
}

.my-works-main{
    color: white;
    text-decoration: none;
    background-color: #EB7550;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 10px;
    font-size: 25;
}
